@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, ol, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*! ______ОБНУЛЕНИЕ______ */
.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0px 10px;
}

.wrapper {
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}

.btn__main {
  font-size: 12px;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 180px;
  height: 52px;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header {
  width: 100%;
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 100;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.header__inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 96px;
  position: relative;
}
.header__navigation {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
}
.header__link {
  font-family: "Roboto";
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  position: relative;
}
.header__link::after {
  content: "";
  width: 1%;
  height: 1px;
  background-color: #116390;
  position: absolute;
  opacity: 0;
  top: 120%;
  left: 50%;
  -webkit-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.header__link:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}
.header__link:hover::after {
  width: 100%;
  opacity: 1;
}
.header__logo {
  height: 40px;
  padding: 0px 10px;
}
.header__logo img {
  width: 100%;
  height: 100%;
}
.header__logo img:hover {
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.header__burger {
  display: none;
  width: 30px;
  aspect-ratio: 1.6/1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: relative;
}
.header__burger::before, .header__burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.header__burger::before {
  top: 0;
}
.header__burger::after {
  bottom: 0;
}
.header__burger span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

._fixed {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.364);
  top: 0;
  z-index: 100;
}

.intro {
  min-width: 100%;
}
.intro__inner {
  min-width: 100%;
}
.intro__top {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto";
  color: #fff;
  font-size: 14px;
  position: relative;
  z-index: 2000;
  background-color: #000;
}
.intro__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.intro__photo {
  width: 50%;
}
.intro__photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.intro__right {
  width: 50%;
  background-color: #996B60;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.intro__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  margin-left: 60px;
  margin-bottom: 100px;
  color: #fff;
  padding: 10px 10px 0px 0px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 1340px) {
  .intro__body {
    gap: calc(10px + 30 * ((100vw - 375px) / 965));
  }
}
@media (max-width: 1340px) {
  .intro__body {
    margin-bottom: calc(20px + 80 * ((100vw - 375px) / 965));
  }
}
.intro__title {
  font-family: liberation-serif;
  font-size: 73px;
  line-height: 96px;
  font-weight: 400;
  max-width: 457px;
}
@media (max-width: 1340px) {
  .intro__title {
    font-size: calc(30px + 43 * ((100vw - 375px) / 965));
  }
}
@media (max-width: 1340px) {
  .intro__title {
    line-height: calc(30px + 66 * ((100vw - 375px) / 965));
  }
}
.intro__subtitle {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}
.intro__btn {
  border: 1px solid #fff;
  color: #000;
}
.intro__btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid #000;
  color: #fff;
}

.brends {
  background-color: #fff;
}
.brends--container {
  max-width: 1298px;
}
.brends__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 60px 0px 40px 0px;
  gap: 10px;
}
.brends__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.brends__title {
  text-align: center;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  max-width: 300px;
  line-height: 32px;
}
.brends__logo {
  margin: 36px 0px 0px 0px;
  max-width: 300px;
  height: 50px;
}
.brends__logo img {
  width: 100%;
}

.line {
  background-color: #fff;
  width: 100%;
}
.line__inner {
  width: 100%;
  height: 1px;
  background-color: #BDBDBD;
}

.shop {
  background-color: #fff;
}
.shop--container {
  max-width: 1276px;
}
.shop__inner {
  padding-top: 105px;
  padding-bottom: 140px;
}
@media (max-width: 1340px) {
  .shop__inner {
    padding-top: calc(50px + 55 * ((100vw - 375px) / 965));
  }
}
@media (max-width: 1340px) {
  .shop__inner {
    padding-bottom: calc(50px + 90 * ((100vw - 375px) / 965));
  }
}
.shop__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.shop__title {
  font-family: liberation-serif;
  font-weight: 400;
  line-height: 80px;
  text-align: center;
  margin: 0px 0px 24px 0px;
  max-width: 673px;
  font-size: 64px;
  line-height: 80px;
}
@media (max-width: 1340px) {
  .shop__title {
    font-size: calc(37px + 27 * ((100vw - 375px) / 965));
  }
}
@media (max-width: 1340px) {
  .shop__title {
    line-height: calc(32px + 48 * ((100vw - 375px) / 965));
  }
}
.shop__subtitle {
  text-align: center;
  font-family: "Roboto";
  font-size: 12px;
  text-transform: uppercase;
  line-height: 18px;
  margin: 0px 0px 82px 0px;
  margin-bottom: 82px;
}
@media (max-width: 1340px) {
  .shop__subtitle {
    margin-bottom: calc(20px + 62 * ((100vw - 375px) / 965));
  }
}
.shop__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 1190px) {
  .shop__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 90px;
  }
}
.shop__block {
  max-width: 382px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.shop__img {
  max-height: 451px;
  margin-bottom: 19px;
}
@media (max-width: 1340px) {
  .shop__img {
    margin-bottom: calc(10px + 9 * ((100vw - 375px) / 965));
  }
}
.shop__img img {
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}
.shop__name {
  margin: 0px 0px 16px 0px;
  font-family: liberation-serif;
  font-size: 30px;
  line-height: 44px;
}
.shop__description {
  margin: 0px 0px 27px 0px;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 28px;
}
.shop__btn {
  background-color: #000;
  color: #fff;
  border: none;
}
.shop__btn:hover {
  color: #000000;
  border: 1px solid #000000;
  background-color: #996B60;
}

.galery {
  width: 100%;
}
.galery__intro {
  width: 100%;
  padding: 60px 0px 0px 0px;
}
.galery__photo {
  width: 100;
}
.galery__photo img {
  width: 100%;
}
.galery__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  padding-top: 60px;
  padding-bottom: 95px;
  gap: 10px;
}
@media (max-width: 1340px) {
  .galery__bottom {
    padding-top: calc(30px + 30 * ((100vw - 375px) / 965));
  }
}
@media (max-width: 1340px) {
  .galery__bottom {
    padding-bottom: calc(40px + 55 * ((100vw - 375px) / 965));
  }
}
.galery__title {
  font-family: liberation-serif;
  font-size: 53px;
  font-weight: 400;
  line-height: 80px;
  white-space: nowrap;
}
@media (max-width: 1340px) {
  .galery__title {
    font-size: calc(44px + 9 * ((100vw - 375px) / 965));
  }
}
.galery__subtitle {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  max-width: 550px;
}

.drink {
  width: 100%;
}
.drink__inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px 0px 50px 0px;
  gap: 60px;
}
@media (max-width: 1200px) {
  .drink__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.drink__about {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 400px;
          flex: 0 1 400px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
@media (max-width: 1200px) {
  .drink__about {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -ms-flex-item-align: auto;
        align-self: auto;
    text-align: center;
  }
}
.drink__block:not(:last-child) {
  padding-bottom: 20px;
}
.drink__title {
  font-size: 30px;
  line-height: 44px;
  font-weight: 400;
  font-family: liberation-serif;
}
.drink__title:not(:last-child) {
  padding-bottom: 20px;
}
.drink__title--big {
  font-size: 36px;
}
.drink__subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  font-family: "Roboto";
}
@media (max-width: 1200px) {
  .drink__subtitle {
    max-width: 700px;
    margin: auto;
  }
}
.drink__photo img {
  width: 100%;
}

.review {
  width: 100%;
  background-color: #000;
}
.review__inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 95px;
  padding-bottom: 50px;
}
@media (max-width: 1340px) {
  .review__inner {
    padding-top: calc(50px + 45 * ((100vw - 375px) / 965));
  }
}
@media (max-width: 1340px) {
  .review__inner {
    padding-bottom: calc(30px + 20 * ((100vw - 375px) / 965));
  }
}
.review__block {
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 320px;
          flex: 0 0 320px;
}
.review__text {
  font-family: "Roboto";
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  color: #fff;
  padding: 0px 0px 17px 0px;
}
.review__name {
  text-transform: uppercase;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #fff;
  padding: 0px 0px 10px 0px;
}
.review__status {
  color: #8A8A8A;
  font-size: 16px;
  font-family: "Roboto";
  line-height: 24px;
  font-weight: 400;
}

.better {
  width: 100%;
}
.better__inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px 0px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.better__left {
  width: 50%;
}
.better__photo {
  max-width: 550px;
  height: 100%;
  margin: 0px 20px 0px 0px;
}
.better__photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.better__about {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
.better__title {
  font-family: liberation-serif;
  font-size: 64px;
  line-height: 80px;
  font-weight: 0;
}
@media (max-width: 1340px) {
  .better__title {
    font-size: calc(40px + 24 * ((100vw - 375px) / 965));
  }
}
@media (max-width: 1340px) {
  .better__title {
    line-height: calc(45px + 35 * ((100vw - 375px) / 965));
  }
}
.better__subtitle {
  font-family: "Roboto";
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  padding: 0px 0px 35px 0px;
}
.better__button {
  display: inline-block;
  text-transform: uppercase;
  line-height: 18px;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
.better__button::after {
  content: "";
  width: 1%;
  height: 1px;
  background-color: #116390;
  position: absolute;
  opacity: 0;
  top: 120%;
  left: 50%;
  -webkit-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.better__button:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}
.better__button:hover::after {
  width: 100%;
  opacity: 1;
}
.better__button:hover {
  color: #996B60;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.folow {
  width: 100%;
  background: url(../img/follow/Rectangle.png) no-repeat center/cover;
}
.folow__inner {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (max-width: 1340px) {
  .folow__inner {
    padding-top: calc(30px + 30 * ((100vw - 375px) / 965));
  }
}
@media (max-width: 1340px) {
  .folow__inner {
    padding-bottom: calc(30px + 30 * ((100vw - 375px) / 965));
  }
}
.folow__block {
  max-width: 550px;
}
.folow__top {
  background-color: #000;
  text-align: center;
  padding: 40px 10px;
}
.folow__title {
  color: #fff;
  padding: 0px 0px 10px 0px;
  font-family: liberation-serif;
  font-size: 55px;
  line-height: 80px;
  font-weight: 400;
}
.folow__subtitle {
  margin: 0px auto;
  color: #fff;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  max-width: 420px;
  padding: 0px 0px 25px 0px;
}
.folow__btn {
  color: #000;
  background-color: #fff;
  margin: 0px auto;
}
.folow__btn:hover {
  background-color: rgb(0, 0, 0);
  border: 1px solid #996B60;
  color: #996B60;
}
.folow__bottom {
  margin: 20px 0px 0px 0px;
  background-color: #000;
  color: #fff;
  padding: 30px 0px;
  text-align: center;
}
.folow__do {
  padding: 0px 0px 17px 0px;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}
.folow__social {
  max-width: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px auto;
}
.folow__link {
  text-transform: uppercase;
  font-family: "Roboto";
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #fff;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.folow__link::after {
  content: "";
  width: 1%;
  height: 1px;
  background-color: #116390;
  position: absolute;
  opacity: 0;
  top: 120%;
  left: 50%;
  -webkit-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.folow__link:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}
.folow__link:hover::after {
  width: 100%;
  opacity: 1;
}
.folow__link:hover {
  color: #996B60;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.footer {
  width: 100%;
  background-color: #000;
  color: #fff;
}
.footer__inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 55px;
  padding-bottom: 55px;
}
@media (max-width: 1340px) {
  .footer__inner {
    padding-bottom: calc(10px + 45 * ((100vw - 375px) / 965));
  }
}
.footer__left {
  width: 50%;
  padding: 0px 40px 0px 0px;
}
.footer__body {
  max-width: 420px;
}
.footer__title {
  font-family: liberation-serif;
  font-size: 42px;
  line-height: 72px;
  font-weight: 400;
}
.footer__subtitle {
  font-family: "Roboto";
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  margin: 10px 0px 30px 0px;
}
.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #8A8A8A;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0px;
  position: relative;
  overflow: hidden;
}
.footer__form::after {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  height: 200%;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(20%, rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0)));
  background: -o-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0));
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0));
  z-index: 3;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  pointer-events: none;
}
.footer__mail {
  color: #ffffff;
  background-color: #000;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0px 30px;
  font-size: 18px;
  line-height: 40px;
}
.footer__mail::-webkit-input-placeholder {
  font-family: "Roboto";
  font-size: 9px;
  line-height: 14px;
}
.footer__mail::-moz-placeholder {
  font-family: "Roboto";
  font-size: 9px;
  line-height: 14px;
}
.footer__mail:-ms-input-placeholder {
  font-family: "Roboto";
  font-size: 9px;
  line-height: 14px;
}
.footer__mail::-ms-input-placeholder {
  font-family: "Roboto";
  font-size: 9px;
  line-height: 14px;
}
.footer__mail::placeholder {
  font-family: "Roboto";
  font-size: 9px;
  line-height: 14px;
}
.footer__submit {
  background-color: #000;
  font-family: "Roboto";
  font-size: 12px;
  text-transform: uppercase;
  line-height: 14px;
  font-weight: 400;
  height: 35px;
  color: #ffffff;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  cursor: pointer;
}
.footer__submit:hover {
  color: #996B60;
}
.footer__right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}
.footer__name {
  text-transform: uppercase;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  padding: 0px 0px 30px 0px;
  position: relative;
}
.footer__corner {
  display: none;
  height: 30%;
  aspect-ratio: 54/34;
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-filter: brightness(1000%);
          filter: brightness(1000%);
}
.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.footer__link {
  font-family: "Roboto";
  font-size: 12px;
  text-transform: uppercase;
  line-height: 18px;
  font-weight: 400;
  color: #8A8A8A;
  white-space: nowrap;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
.footer__link::after {
  content: "";
  width: 1%;
  height: 1px;
  background-color: #116390;
  position: absolute;
  opacity: 0;
  top: 120%;
  left: 50%;
  -webkit-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.footer__link:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}
.footer__link:hover::after {
  width: 100%;
  opacity: 1;
}
.footer__link:not(:last-child) {
  margin: 0px 0px 20px 0px;
}
.footer__link:hover {
  color: #996B60;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.footer__bottom {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 760px;
          flex: 0 1 760px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  padding-top: 140px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 1340px) {
  .footer__bottom {
    padding-top: calc(60px + 80 * ((100vw - 375px) / 965));
  }
}
.footer__go {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  white-space: nowrap;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
.footer__go:not(:first-child):after {
  content: "";
  width: 1%;
  height: 1px;
  background-color: #116390;
  position: absolute;
  opacity: 0;
  top: 120%;
  left: 50%;
  -webkit-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.footer__go:not(:first-child):hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}
.footer__go:not(:first-child):hover::after {
  width: 100%;
  opacity: 1;
}
.footer__go:hover:not(:first-child) {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  color: #996B60;
  cursor: pointer;
}
.footer__go:not(:first-child) {
  color: #8A8A8A;
}

@media (max-width: 990px) {
  .intro__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .intro__photo, .intro__right {
    width: 100%;
  }
  .intro__photo {
    height: 400px;
  }
  .intro__right {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .intro__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px 0px;
    padding: 40px 10px;
  }
  .intro__title, .intro__subtitle {
    text-align: center;
  }
  .brends__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
  }
  .brends__logo {
    margin: 10px 0px 0px 0px;
  }
  .galery__photo {
    aspect-ratio: 1.5/1;
  }
  .galery__photo img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
  }
  .galery__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .review__inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .review__block:not(:last-child) {
    padding: 0px 0px 30px 0px;
  }
  .better__inner {
    gap: 40px;
  }
  .better__left {
    width: 100%;
  }
  .better__photo {
    margin: 0px 0px;
    max-width: none;
  }
  .better__about {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .header .container {
    padding: 0px 0px;
  }
  .header__inner {
    height: 55px;
    padding: 5px 0px;
    background-color: rgba(44, 73, 80, 0.338);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .header__inner:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: rgb(0, 0, 0);
    width: 0;
    height: 55px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    z-index: -1;
  }
  .header__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 100%;
    width: 50%;
    height: calc(100vh - 105px);
    background-color: rgba(5, 3, 19, 0.9019607843);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 50px 20px;
    z-index: 1;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    -o-transition: transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
  }
  .header__navigation:nth-child(1) {
    left: 0px;
    text-align: end;
    -webkit-transform-origin: left;
        -ms-transform-origin: left;
            transform-origin: left;
    -webkit-transform: perspective(400px) rotatey(-90deg);
            transform: perspective(400px) rotatey(-90deg);
  }
  .header__navigation:nth-child(3) {
    right: 0px;
    -webkit-transform-origin: right;
        -ms-transform-origin: right;
            transform-origin: right;
    -webkit-transform: perspective(400px) rotatey(90deg);
            transform: perspective(400px) rotatey(90deg);
  }
  ._active .header__navigation {
    -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
  }
  ._fixed .header__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 100%;
    width: 50%;
    height: calc(100vh - 55px);
    background-color: rgba(5, 3, 19, 0.9019607843);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 50px 20px;
    z-index: 1;
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    -o-transition: transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
    opacity: 0;
  }
  ._fixed .header__navigation:nth-child(1) {
    left: 0px;
    text-align: end;
    -webkit-transform: translatex(-100%);
        -ms-transform: translatex(-100%);
            transform: translatex(-100%);
  }
  ._fixed .header__navigation:nth-child(3) {
    right: 0px;
    -webkit-transform: translatex(100%);
        -ms-transform: translatex(100%);
            transform: translatex(100%);
  }
  ._fixed ._active .header__navigation {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  .header ._active::after {
    width: 100%;
    pointer-events: none;
  }
  .header__link {
    font-size: 20px;
  }
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px 15px;
  }
  ._active .header__burger::before {
    -webkit-transform: translateY(-50%) rotate(225deg);
        -ms-transform: translateY(-50%) rotate(225deg);
            transform: translateY(-50%) rotate(225deg);
    top: 50%;
  }
  ._active .header__burger::after {
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(-225deg);
        -ms-transform: translateY(-50%) rotate(-225deg);
            transform: translateY(-50%) rotate(-225deg);
  }
  ._active .header__burger span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
  .footer__left {
    width: 100%;
    padding: 0px 0px;
  }
  .footer__body {
    margin: 0px auto;
    padding: 0px 0px 50px 0px;
    text-align: center;
  }
  .footer__right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    gap: 10px;
  }
  .footer__name {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 2;
  }
  .footer__name::after {
    content: "";
    position: absolute;
    z-index: -1;
    pointer-events: none;
    top: 0;
    left: 0;
    background: -o-linear-gradient(135deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.6) 10%, rgba(255, 255, 255, 0.1), #000, rgba(255, 255, 255, 0.247));
    background: linear-gradient(-45deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.6) 10%, rgba(255, 255, 255, 0.1), #000, rgba(255, 255, 255, 0.247));
    width: 120%;
    height: 100%;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .footer__nav {
    border-radius: 0 0 10px 10px;
    height: 0;
    overflow: hidden;
    padding: 0px 30px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  .footer__link:first-child {
    padding: 10px 0px 0px 0px;
  }
  .footer ._open::after {
    left: -20%;
  }
  ._open ~ .footer__nav {
    height: auto;
  }
  .footer__corner {
    display: block;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
  ._open .footer__corner {
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center;
    -webkit-transform: translateY(-50%) rotateX(180deg) rotateY(180deg);
            transform: translateY(-50%) rotateX(180deg) rotateY(180deg);
  }
  .footer__bottom {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__go:not(:first-child) {
    display: none;
  }
}