*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height: 100%;width: 100%;font-size: 100%;line-height: 1;font-size: 14px;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul,ol,li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/*! ______ОБНУЛЕНИЕ______ */
.container{
   max-width: 1340px;
   margin: 0 auto;
   padding: 0px 10px;
}
$libration:liberation-serif;
$roboto:'Roboto';
$fontsize12:12px;
$fontsize14:14px;
$fontsize16:16px;
$fontsize18:18px;


$maxWidth: 1920;
$maxWidthContainer: 1340;

@mixin adaptiv-value($property, $startSize, $minSize, $type) {
$addSize: $startSize - $minSize;
@if $type==1 {
// МЕНЬШЕ КОНТЕЙНЕРА
#{$property}:$startSize + px;
@media (max-width: #{$maxWidthContainer + px}) {
#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 375px) / #{$maxWidthContainer - 375}));
}
}
@else if $type==2 {
// БОЛЬШЕ КОНТЕЙНЕРА
#{$property}:$startSize + px;
@media (min-width: #{$maxWidthContainer + px}) {
#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 375px) / #{$maxWidth - 375}));
}
}
@else {
//ВСЕГДА
#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 375px) / #{$maxWidth - 375}));
}
}
@mixin line($prem:false) {
   @if $prem{
      #{$prem}:after{
      content: '';
      width: 1%;
      height: 1px;
      background-color: #116390;
      position: absolute;
      opacity: 0;
      top: 120%;
      left: 50%;
      transition:width .3s;
      transform: translateX(-50%);
      }
      #{$prem}:hover{
         transform: scale(1.1);
         transition: .2s;
         cursor: pointer;
         &::after{
            width: 100%;
            opacity: 1;
         }
      }
   } 
   @else{
      &::after{
         content: '';
         width: 1%;
         height: 1px;
         background-color: #116390;
         position: absolute;
         opacity: 0;
         top: 120%;
         left: 50%;
         transition:width .3s;
         transform: translateX(-50%);
         }
         &:hover{
            transform: scale(1.1);
            transition: .2s;
            cursor: pointer;
            &::after{
               width: 100%;
               opacity: 1;
            }
         }
   }
}
.wrapper {
   background-color: rgb(255, 255, 255);
   overflow: hidden;

}
.btn__main {
   font-size: $fontsize12;
   font-family: $roboto;
   font-weight: 400;
   line-height: 14px;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 180px;
   height: 52px;
   text-transform: uppercase;
   transition: .3s;
}
.header {
   width: 100%;
   position: absolute;
   top: 50px;
   left: 0;
   z-index: 100;
   transition:background-color .3s;
   &__anchor{
      width: 100%;
      position: relative;
   }
		&__inner {
         width: 100%;
         display: flex;
         justify-content: space-between;
         align-items: center;
         height: 96px;
         position: relative;

		}
      &__navigation{
         color: #fff;
         display: flex;
         gap: 60px;
      }
		&__link {
         font-family: $roboto;
         text-transform: uppercase;
         font-size: $fontsize12;
         font-weight: 400;
         position: relative;
         &::after{
            content: '';
            width: 1%;
            height: 1px;
            background-color: #116390;
            position: absolute;
            opacity: 0;
            top: 120%;
            left: 50%;
            transition:width .3s;
            transform: translateX(-50%);
         }
         &:hover{
            transform: scale(1.1);
            transition: .2s;
            cursor: pointer;
            &::after{
               width: 100%;
               opacity: 1;
            }
         }
		}

		&__logo {
         height: 40px;
         padding: 0px 10px;
         img{
            width: 100%;
            height: 100%;
            &:hover{
               cursor: pointer;
               transition: .3s;
               transform: scale(1.1);
            }
         }
		}
      &__burger{
         display: none;
         width: 30px;
         aspect-ratio: 1.6/1;
         align-items: center;
         cursor: pointer;
         position: relative;
         &::before,&::after{
            content: '';
            position: absolute;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #fff;
            transition: .4s;

         }
         &::before{
            top: 0;
         }
         &::after{
            bottom: 0;
         }
         span{
            display: block;
            width: 100%;
            height: 2px;
            background-color: #fff;
            transition: .4s;


         }
      }
}
._fixed{
   position: fixed;
   background-color: rgba(0, 0, 0, 0.418);
   top: 0;
   z-index: 100;

}
.intro {
min-width: 100%;
   &__inner {
      min-width: 100%;
   }
   &__top {
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: $roboto;
      color: #fff;
      font-size: $fontsize14;
      position: relative;
      z-index: 2000;
      background-color: #000;
   }

   &__main {
      display: flex;
      flex-wrap: wrap;
   }

   &__photo {
      width: 50%;
      img{
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   &__right {
      width: 50%;
      background-color:#996B60;
      display: flex;
      align-items: flex-end;
   }
   &__body{
      display: flex;
      flex-direction: column;
      @include adaptiv-value("gap",40,10,1);
      margin-left: 60px;
      @include adaptiv-value("margin-bottom",100,20,1);
      color: #fff;
      padding: 10px 10px 0px 0px;
      align-items: flex-start;
   }
   &__title {
      font-family: $libration;
      @include adaptiv-value("font-size",73,30,1);
      @include adaptiv-value("line-height",96,30,1);

      font-weight: 400;
      max-width: 457px;
   }

   &__subtitle {
      font-family: $roboto;
      font-size: $fontsize18;
      font-weight: 400;
      line-height: 32px;
   }

   &__btn {
      border: 1px solid #fff;
      color: #000;
      &:hover{
         background-color: rgba(0, 0, 0, 0.1);
         border: 1px solid #000;
         color: #fff;
      }
   }
}

.brends {
   &--container {
      max-width: 1298px;
   }
   &__inner {
   }
   &__tap{
      padding: 20px;
      width: 100%;
      display: none;
      justify-content: center;
      border-radius: 20px;
      position: relative;
      z-index: 2;
      overflow: hidden;
      background-color: #000;
      top: 0;
      cursor: pointer;

      &::after{
         content: '';
         position: absolute;
         z-index: -1;
         pointer-events: none;
         top: 0;
         left: -20%;
         background: linear-gradient(-45deg,rgba(255, 255, 255, 0),rgba(255, 255, 255, 0.6) 10%,rgba(255, 255, 255, 0.1),#000 55%,rgba(255, 255, 255, 0.2) 63%,#000 66%,rgba(255, 255, 255, 0.4)80%);
         width: 150%;
         height: 100%;
         transition: .6s;
         animation:brends 5s ease-in-out 0s infinite alternate;
         @keyframes brends {
            0%{transform: translateX(0);}
            100%{transform: translateX(-17%);}
         }
      }
   }
   &__btn{
      display: inline-block;
      color: #fff;
      font-size: $fontsize18;
      text-transform: uppercase;
      letter-spacing: 7px;
      line-height: 32px;
      font-weight: 600;
      position: relative;
      &::after{
         position: absolute;
         z-index: 2;
         top: 50%;
         transform: translateY(-50%);
         left: calc(100% + 5px);
         content: '';
         background: url(../img/footer/corner.png) no-repeat right;
         background-size: 100%;
         height: 50%;
         aspect-ratio: 1/1;
         transition: .3s;
         animation:bre 10s cubic-bezier(.65,.16,.38,.85) 0s infinite alternate;

      }
   }
   &__body{
      display: flex;
      justify-content: space-between;
      padding: 60px 0px 40px 0px;
      gap: 10px;
   }
   &__block {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   &__title {
      text-align: center;
      font-family: $roboto;
      font-weight: 400;
      font-size: $fontsize18;
      max-width: 300px;
      line-height: 32px;
   }

   &__logo {
      margin: 36px 0px 0px 0px;
      max-width: 300px;
      height: 50px;
      img{
         width: 100%;
      }
   }
}
.line {
   width: 100%;
   &__inner {
      width: 100%;
      height: 1px;
      background-color:#BDBDBD ;
   }
}
.shop {
   background-color: #fff;
   &--container {
      max-width: 1276px;
   }
   &__inner{
      @include adaptiv-value('padding-top',105 ,50 ,1 );
      @include adaptiv-value('padding-bottom',140 ,50 ,1 );

   }
   &__top {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   &__title {
      font-family: $libration;
      font-weight: 400;
      line-height: 80px;
      text-align: center;
      margin: 0px 0px 24px 0px;
      max-width: 673px;
      @include adaptiv-value("font-size",64 ,37 ,1 );
      @include adaptiv-value("line-height",80 ,32 ,1 );

   }

   &__subtitle {
      text-align: center;
      font-family: $roboto;
      font-size: 12px;
      text-transform: uppercase;
      line-height: 18px;
      margin: 0px 0px 82px 0px;
      @include adaptiv-value('margin-bottom',82 ,20 ,1 );
   }

   &__main {
      display: flex;
      justify-content: space-between;
      gap: 10px;
      flex-wrap: wrap;
      @media(max-width:1190px){
         flex-direction: column;
         align-items: center;
         gap: 90px;
      }
   }

   &__block {
      max-width: 382px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   &__img {
      max-height: 451px;
      @include adaptiv-value('margin-bottom',19 ,10 ,1 );
      img{
         object-position: center;
         width: 100%;
         height: 100%;
      }
   }

   &__name {
      margin: 0px 0px 16px 0px;
      font-family: $libration;
      font-size: 30px;
      line-height: 44px;
   }

   &__description {
      margin: 0px 0px 27px 0px;
      font-family:$roboto;
      font-size: 16px;
      line-height: 28px;
   }

   &__btn {
      background-color: #000;
      color: #fff;
      border: none;
      &:hover{
         color: #000000;
         border: 1px solid #000000;
         background-color: #996B60;
      }
   }
}
.galery {
   width: 100%;
   &__intro {
      width: 100%;
      padding: 60px 0px 0px 0px;
   }

   &__photo {
      width: 100;
      img{
         width: 100%;
      }
   }

   &__bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 30px;
      @include adaptiv-value('padding-top',60 ,30 ,1 );
      @include adaptiv-value('padding-bottom',95 ,40 ,1 );
      gap: 10px;
   }

   &__title {
      font-family: $libration;
      @include adaptiv-value("font-size",53 ,44 ,1 );
      font-weight: 400;
      line-height: 80px;
      white-space: nowrap;
   }

   &__subtitle {
      font-family: $roboto;
      font-size: $fontsize18;
      font-weight: 400;
      line-height: 32px;
      max-width: 550px;
   }
}
.drink {
   width: 100%;
   &__inner {
      width: 100%;
      display: flex;
      padding: 60px 0px 50px 0px;
      gap: 60px;
      @media (max-width:1200px){
         flex-direction: column;
      }
   }
   &__about {
      flex: 0 1 400px;
      align-self: flex-end;
      @media (max-width:1200px){
         order: 1;
         flex: 1;
         align-self:auto;
         text-align: center;
      }
   }

   &__block {
      &:not(:last-child){
         padding-bottom: 20px;
      }
   }

   &__title {
      font-size: 30px;
      line-height: 44px;
      font-weight: 400;
      font-family: $libration;
      &:not(:last-child){
         padding-bottom: 20px;
      }
      &--big{
         font-size: 36px;
      }
   }

   &__subtitle {
      font-size: $fontsize18;
      font-weight: 400;
      line-height: 32px;
      font-family: $roboto;
      @media (max-width:1200px){
         max-width: 700px;
         margin: auto;
      }
   }

   &__photo {
      img{
         width: 100%;
      }
   }
}

.review {
   width: 100%;
   background-color: #000;
   &__inner{
      display: flex;
      flex-direction: column;
      align-items: center;
      @include adaptiv-value('padding-top',95 ,0 ,1 );
      @include adaptiv-value('padding-bottom',50 ,0 ,1 );
   }
   &__tap{
      padding: 20px;
      width: 100%;
      display: none;
      justify-content: center;
      border-radius: 20px;
      position: relative;
      z-index: 2;
      overflow: hidden;
      background-color: #000;
      top: 15px;
      cursor: pointer;
      &::after{
         content: '';
         position: absolute;
         z-index: -1;
         pointer-events: none;
         top: 0;
         left: -20%;
         background: linear-gradient(-45deg,rgba(255, 255, 255, 0),rgba(255, 255, 255, 0.6) 10%,rgba(255, 255, 255, 0.1),#000 55%,rgba(255, 255, 255, 0.2) 63%,#000 66%,rgba(255, 255, 255, 0.4)80%);
         width: 150%;
         height: 100%;
         // left: 0;
         // width: 100%;
         transition: .6s;
         animation:brends 5s ease-in-out 0s infinite alternate;
      }
   }
   &__btn{
      display: inline-block;
      color: #fff;
      font-size: $fontsize18;
      text-transform: uppercase;
      letter-spacing: 5px;
      line-height: 32px;
      font-weight: 600;
      position: relative;
      &::after{
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
         left: calc(100% + 5px);
         content: '';
         background: url(../img/footer/corner.png) no-repeat right;
         background-size: 100%;
         height: 50%;
         aspect-ratio: 1/1;
         transition: .3s;
         animation:bre 2s cubic-bezier(.65,.16,.38,.85) 0s infinite alternate;
         @keyframes bre {
            0%{transform: rotateY(0) scale(1) translateY(-50%);}
            25%{transform: rotateY(0) scale(1) translateY(-50%);}
            50%{transform: rotateY(180deg) scale(1.2) translateY(-80%);}
            75%{transform: rotateY(360deg) scale(1) translateY(-50%);}
            100%{transform: rotateY(360deg) scale(1) translateY(-50%);}
         }
      }
   }
   &__body {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 10px;
      flex-wrap: wrap;



   }
   &__block {
      text-align: center;
      flex: 0 0 320px;
      max-width: 320px;
   }

   &__text {
      font-family: $roboto;
      font-size: $fontsize18;
      line-height: 32px;
      font-weight: 400;
      color: #fff;
      padding: 0px 0px 17px 0px;
   }

   &__name {
      text-transform: uppercase;
      font-family: $roboto;
      font-size: $fontsize14;
      line-height: 21px;
      font-weight: 400;
      color: #fff;
      padding: 0px 0px 10px 0px;

   }

   &__status {
      color: #8A8A8A;
      font-size: $fontsize16;
      font-family: $roboto;
      line-height: 24px;
      font-weight: 400;
   }
}
.better {
   width: 100%;
   &__inner {
      width: 100%;
      display: flex;
      padding: 60px 0px;
      flex-wrap: wrap;

   }

   &__left {
      width: 50%;

   }
   &__photo{
      max-width: 550px;
      height: 100%;
      margin: 0px 20px 0px 0px;
      img{
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   &__about {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 20px;
   }

   &__title {
      font-family: $libration;
      @include adaptiv-value('font-size',64 ,40 ,1 );
      @include adaptiv-value('line-height',80 ,45 ,1 );
      font-weight: 00;
   }

   &__subtitle {
      font-family: $roboto;
      font-size: $fontsize18;
      line-height: 32px;
      font-weight: 400;
      padding: 0px 0px 35px 0px;
   }

   &__button {
      display: inline-block;
      text-transform: uppercase;
      line-height: 18px;
      font-size: $fontsize12;
      font-weight: 400;
      cursor: pointer;
      transition: .1s;
      @include line;
      &:hover{
         color: #996B60;
         transform: scale(1.1);
      }
   }
}
.folow {
   width: 100%;
   background:url(../img/follow/Rectangle.png) no-repeat center / cover;
   &__inner {
      width: 100%;
      @include adaptiv-value('padding-top',60 ,30 ,1 );
      @include adaptiv-value('padding-bottom',60 ,30 ,1 );

   }

   &__block {
      max-width: 550px;
   }

   &__top {
      background-color: #000;
      text-align: center;
      padding: 40px 10px;
   }

   &__title {
      color: #fff;
      padding: 0px 0px 10px 0px;
      font-family: $libration;
      font-size: 55px;
      line-height: 80px;
      font-weight: 400;
   }

   &__subtitle {
      margin: 0px auto;
      color: #fff;
      font-family: $roboto;
      font-size: $fontsize16;
      line-height: 28px;
      font-weight: 400;
      max-width: 420px;
      padding: 0px 0px 25px 0px;
   }

   &__btn {
      color: #000;
      background-color: #fff;
      margin: 0px auto;
      &:hover{
         background-color: rgb(0, 0, 0);
         border: 1px solid #996B60;
         ;
         color: #996B60;

      }
   }

   &__bottom {
      margin: 20px 0px 0px 0px;
      background-color: #000;
      color: #fff;
      padding: 30px 0px;
      text-align: center;
   }

   &__do {
      padding: 0px 0px 17px 0px;
      font-family: $roboto;
      font-size: $fontsize16;
      line-height: 28px;
      font-weight: 400;
   }

   &__social {
      max-width: 290px;
      display: flex;
      justify-content: space-between;
      gap: 15px;
      flex-wrap: wrap;
      margin: 0px auto;
   }

   &__link {
      text-transform: uppercase;
      font-family: $roboto;
      font-size: $fontsize12;
      line-height: 18px;
      font-weight: 400;
      color: #fff;
      transition: .2s;
      @include line;
      &:hover{
         color: #996B60;
         transform: scale(1.1);
      }
   }
}
.footer {
   width: 100%;
   background-color: #000;
   color: #fff;
   &__inner {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      padding-top: 55px;
      @include adaptiv-value('padding-bottom',55 ,10 ,1 );
   }

   &__left {
      width: 50%;
      padding: 0px 40px 0px 0px;
   }
   &__body{
      max-width: 420px;

   }
   &__title {
      font-family: $libration;
      font-size: 42px;
      line-height: 72px;
      font-weight: 400;
   }

   &__subtitle {
      font-family: $roboto;
      font-size: $fontsize18;
      line-height: 27px;
      font-weight: 400;
      margin: 10px 0px 30px 0px;

   }
   &__form{
      display: flex;
      border-bottom: 1px solid #8A8A8A;
      align-items: center;
      padding: 10px 0px;
      position: relative;
      overflow: hidden;

      &::after{
         content: '';
         position: absolute;
         top: 0;
         left: -50%;
         height: 200%;
         width: 100%;
         background: linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0.2) 20%,rgba(255, 255, 255, 0));
         z-index: 3;
         transform: rotate(-45deg);
         transition: .4s;
         pointer-events: none;
      }

   }
   &__mail{
      color: #ffffff;
      background-color: #000;
      flex: 1;
      padding: 0px 30px ;


      font-size: $fontsize18;
      line-height: 40px;

      &::placeholder{
         
         font-family: $roboto;
         font-size: 9px;
         line-height: 14px;
      }
   }
   &__submit{
      background-color: #000;
      font-family: $roboto;
      font-size: $fontsize12;
      text-transform: uppercase;
      line-height: 14px;
      font-weight: 400;
      height: 35px;
      color: #ffffff;
      transition: .1s;
      cursor: pointer;
      &:hover{
         color: #996B60;
         
      }
   }
   &__right {
      width: 50%;
      display: flex;
      justify-content: space-between;
      gap: 30px;
   }
   &__name {
      text-transform: uppercase;
      font-family: $roboto;
      font-size: $fontsize14;
      line-height: 21px;
      font-weight: 400;
      padding: 0px 0px 30px 0px;
      position: relative;

   }
   &__corner{
      display: none;
      height: 30%;
      aspect-ratio: 54/34;
      position: absolute;
      top:50%;
      right: 10px;
      transform: translateY(-50%);
      filter: brightness(1000%);
   }
   &__nav {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
   }

   &__link {
      font-family: $roboto;
      font-size: $fontsize12;
      text-transform: uppercase;
      line-height: 18px;
      font-weight: 400;
      color: #8A8A8A;
      white-space: nowrap;
      transition: .1s;
      @include line;
      &:not(:last-child){
         margin: 0px 0px 20px 0px;
      }
      &:hover{
         color: #996B60;
         transform: scale(1.1);
      }
   }

   &__bottom {
      flex: 0 1 760px;
      display: flex;
      @include adaptiv-value('padding-top',140 ,60 ,1 );
      justify-content: space-between;
      flex-wrap: wrap;
   }
   &__copyright{
         display: inline-block;
         font-family: $roboto;
         font-size: $fontsize16;
         line-height: 24px;
         font-weight: 400;
   }
   &__info{
      flex: 1;
      display: flex;
      justify-content: space-between;
      gap: 20px;
      max-width: 598px;
      transition: .4s;
   }
   &__go {
      display: inline-block;
      font-family: $roboto;
      font-size: $fontsize16;
      line-height: 24px;
      font-weight: 400;
      white-space: nowrap;
      transition: .1s;
      @include line();
      color: #8A8A8A;
      &:hover{
         transform: scale(1.1);
         color: #996B60;
         cursor: pointer;
         
      }
   }
}




@media(max-width:990px){

   .intro{
      &__main{
         flex-direction: column;
      }
      &__photo,&__right{
         width: 100%;
      }
      &__photo{
         height: 400px;
      }
      &__right{
         justify-content: center;
         align-items: center;
      }
      &__body{
         justify-content: center;
         align-items: center;
         margin: 0px 0px;
         padding: 40px 10px;
      }
      &__title,&__subtitle{
         text-align: center;
      }
   }
   .brends{
      &__body{
         flex-direction: column;
         gap: 50px;
      }
      &__logo{
         margin: 10px 0px 0px 0px;
      }
   }
   .galery{
      &__photo{
         aspect-ratio: 1.5/1;
         img{
            object-fit: cover;
            height: 100%;
         }
      }
      &__bottom{
         flex-direction: column;
      }
   }
   .review{
      &__body{
         justify-content: center;
      }
      &__block{
         &:not(:last-child){
            padding: 0px 0px 30px 0px;
         }
      }
   }
   .better{
      &__inner{
         gap: 40px;
      }
      &__left{
         width: 100%;
      }
      &__photo{
         margin: 0px 0px;
         max-width: none;
      }
      &__about{
         width: 100%;
         
      }

   }
}
@media(max-width:768px){
   .header{
      .container{
         padding: 0px 0px;
      }
      &__inner{
         height: 55px;
         padding: 5px 0px;
         background-color: rgba(44, 73, 80, 0.338);
         transition: .3s;
         &:after{
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            background-color: rgb(0, 0, 0);
            width: 0;
            height: 55px;
            transition: .4s;
            z-index: -1;
         }
      }
      &__navigation{
         display: flex;
         flex-direction: column;
         position: absolute;
         top: 100%;
         width: 50%;
         height: calc(100vh - 105px);
         // background-color: #050313e6;
         background-color: #05031384;

         align-items: center;
         padding: 50px 20px;
         z-index: 1;
         opacity: 1;
         transition:.4s;
         &::after{
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            backdrop-filter: blur(30px);
            z-index: -1;
            top: 0;
            left: 0;
            pointer-events: none;
         }
         &:nth-child(1){
            left: 0px;
            text-align: end;
            transform: translatex(-100%);

         }
         &:nth-child(3){
            right: 0px;
            transform: translatex(100%);

         }
      }
      ._active &__navigation{
         transform: translateX(0);
         opacity: 1;

      }
      ._fixed &__navigation{
         height: calc(100vh - 55px);
      }
      ._active{
         &::after{
            width: 100%;
            pointer-events: none;
         }
      }

      &__link{
         font-size: 20px;
         color: rgb(255, 255, 255);
      }
      &__burger{
         display: flex;
         margin: 0px 15px;
      }
      ._active &__burger {
         &::before{
            transform:translateY(-50%) rotate(225deg);

            top: 50%;
         }
         &::after{
            top: 50%;
            transform:translateY(-50%) rotate(-225deg);

         }
         span{
            transform: scale(0);
         }
      }
   }
   .brends{
      &__inner{
         padding: 20px 0px;
         display: flex;
         flex-direction: column;
      }
      &__body{
         padding: 0px 0px;
         gap: 0;
         overflow: hidden;
         flex: 0 0 0;
         transition: .5s;
      }
      &__block{
         padding-top: 40px;
      }
      &__tap{
         display: flex;

      }
      ._open &__btn{
         &::after{
            animation: none;
            transform: translateY(-50%) rotateX(180deg);

         }
      }
      ._open &__tap{
         &::after{
            left: 0;
            animation-play-state: paused;
         }
      }
   }
   .review {
      background-color: rgb(255, 255, 255);
      &__inner{
         flex-direction: column;
      }
      &__tap{
         display: flex;
      }
      ._open &__btn{
         &::after{
            animation:none;
            transform: translateY(-50%) rotateX(180deg);


         }
      }
      ._open &__tap{
         &::after{
            left: 0;
            animation-play-state: paused;
         }
      }
      &__body {
         flex: 0 0 0;
         overflow:hidden;
         border-radius: 0 0 20px 20px;
         flex-direction: column;
         justify-content: stretch;
         align-items: center;
         background-color: #000;
         transition: .4s;
         flex-wrap: nowrap;
      }
      &__block {
         flex:auto;
         padding: 30px 0px 10px 0px;
         &:first-child{
            margin: 50px 0px 0px 0px;
         }
      }
   }
   .folow{
      &__block{
         margin: auto;
      }
   }
   .footer{
      
      &__left{
         width: 100%;
         padding: 0px 0px;
      }
      &__body{
         margin: 0px auto;
         padding: 0px 0px 50px 0px;
         text-align: center;
      }
      &__right{
         flex-direction: column;
         width: 100%;
         gap: 5px;
      }
      &__name{
         padding: 10px 20px;
         border-radius: 10px 10px 0 0;
         background-color: transparent;
         cursor: pointer;
         position: relative;
         overflow: hidden;
         z-index: 2;
         &::after{
            content: '';
            position: absolute;
            z-index: -1;
            pointer-events: none;
            top: 0;
            left: -20%;
            background: linear-gradient(-45deg,rgba(255, 255, 255, 0),rgba(255, 255, 255, 0.6) 10%,rgba(255, 255, 255, 0.1),#000,rgba(255, 255, 255, 0.247)80%);
            width: 150%;
            height: 100%;
            transition: .6s;
         }
         &--1{
         border-radius: 0px;

            &::after{
               left:calc(-20% + -45px);

            }
         }
         &--2{
         border-radius: 0 0 10px 10px;

            &::after{
               left:calc(-20% + -90px);
            }
         }
      }
      &__nav{
         border-radius: 0 0 10px 10px;
         height: 0;
         overflow: hidden;
         padding: 0px 30px;
         transition: .5s;
      }
      &__link{
         &:first-child{

            padding: 10px 0px 0px 0px;
         }
      }
      ._hover[class~="footer__name"]{
         &::after{
            transition: .6s;

            left: 0;
         }
      }
      ._hover[class~="footer__name--1"]{
         &::after{
            transition: .6s;

            left: -50px;
         }
      }
      ._hover[class~="footer__name--2"]{
         &::after{
            transition: .6s;

            left: -100px;
         }
      }
      ._open ~ &__nav{
         height: auto;
      }
      &__corner{
         display: block;
         transition: .4s;
      }
      ._open &__corner{
         transform-origin: center;
         transform:translateY(-50%) rotateX(180deg) rotateY(180deg);
      }
      &__bottom{
         align-items: center;
         flex-direction: column;
      }
      &__copyright{
         position: relative;
         cursor: pointer;
         &::after{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: calc(100% + 5px);
            content: '';
            background: url(../img/footer/corner.png) no-repeat right;
            background-size: 100%;
            height: 50%;
            aspect-ratio: 1/1;
            transition: .3s;
            animation:bre 2s cubic-bezier(.65,.16,.38,.85) 0s infinite alternate;

         }
      }
      &__info{
         flex-direction: column;
         align-items: center;
         gap: 0;
         flex: 0 0 0;
         overflow: hidden;
      }
      ._open &__copyright{
         &::after{
            animation: none;
            transform: translateY(-50%) rotateX(180deg);
         }
      }
      &__go{
         padding: 20px 0px 0px 0px;
      }
   }
}
._animationStart{
   transform: translateY(-200px);
   transition:0s;
   opacity: 0;
}
._animationEnd{
   transition:1s;
   transform: translateY(0);
   opacity: 1;
}
