*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height: 100%;width: 100%;font-size: 100%;line-height: 1;font-size: 14px;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul,ol,li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/*! ______ОБНУЛЕНИЕ______ */
body{
}
.container{
   max-width: 1340px;
   margin: 0 auto;
   padding: 0px 10px;
}
$libration:liberation-serif;
$roboto:'Roboto';
$fontsize12:12px;
$fontsize14:14px;
$fontsize18:18px;

$maxWidth: 1920;
$maxWidthContainer: 1340;

@mixin adaptiv-value($property, $startSize, $minSize, $type) {
$addSize: $startSize - $minSize;
@if $type==1 {
// МЕНЬШЕ КОНТЕЙНЕРА
#{$property}:$startSize + px;
@media (max-width: #{$maxWidthContainer + px}) {
#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 375px) / #{$maxWidthContainer - 375}));
}
}
@else if $type==2 {
// БОЛЬШЕ КОНТЕЙНЕРА
#{$property}:$startSize + px;
@media (min-width: #{$maxWidthContainer + px}) {
#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 375px) / #{$maxWidth - 375}));
}
}
@else {
//ВСЕГДА
#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 375px) / #{$maxWidth - 375}));
}
}

.wrapper {
   background-color: #000;
   overflow: hidden;

}
.header {
   width: 100%;
   position: absolute;
   top: 50px;
   left: 0;
   z-index: 100;
   transition:background-color .3s;
		&__inner {
         width: 100%;
         display: flex;
         justify-content: space-between;
         align-items: center;
         height: 96px;
         position: relative;

		}
      &__navigation{
         color: #fff;
         display: flex;
         gap: 60px;
      }
		&__link {
         font-family: $roboto;
         text-transform: uppercase;
         font-size: $fontsize12;
         font-weight: 400;
         position: relative;
         &::after{
            content: '';
            width: 1%;
            height: 1px;
            background-color: #116390;
            position: absolute;
            opacity: 0;
            top: 120%;
            left: 50%;
            transition:width .3s;
            transform: translateX(-50%);
         }
         &:hover{
            transform: scale(1.1);
            transition: .2s;
            cursor: pointer;
            &::after{
               width: 100%;
               opacity: 1;
            }
         }
		}

		&__logo {
         height: 40px;
         padding: 0px 10px;
         img{
            width: 100%;
            height: 100%;
            &:hover{
               cursor: pointer;
               transition: .3s;
               transform: scale(1.1);
            }
         }
		}
      &__burger{
         display: none;
         width: 30px;
         aspect-ratio: 1.6/1;
         align-items: center;
         cursor: pointer;
         position: relative;
         &::before,&::after{
            content: '';
            position: absolute;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #fff;
            transition: .4s;

         }
         &::before{
            top: 0;
         }
         &::after{
            bottom: 0;
         }
         span{
            display: block;
            width: 100%;
            height: 2px;
            background-color: #fff;
            transition: .4s;


         }
      }
}
._fixed{
   position: fixed;
   background-color: rgba(0, 0, 0, 0.364);
   top: 0;
   z-index: 100;

}
.intro {
min-width: 100%;
   &__inner {
      min-width: 100%;
   }
   &__top {
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: $roboto;
      color: #fff;
      font-size: $fontsize14;
      position: relative;
      z-index: 2000;
   }

   &__main {
      display: flex;
      flex-wrap: wrap;
   }

   &__photo {
      width: 50%;
      img{
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   &__right {
      width: 50%;
      background-color:#996B60;
      display: flex;
      align-items: flex-end;
   }
   &__body{
      display: flex;
      flex-direction: column;
      @include adaptiv-value("gap",40,10,1);
      margin-left: 60px;
      @include adaptiv-value("margin-bottom",100,20,1);
      color: #fff;
      padding: 10px 10px 0px 0px;
      align-items: flex-start;
   }
   &__title {
      font-family: $libration;
      @include adaptiv-value("font-size",73,30,1);
      @include adaptiv-value("line-height",96,30,1);

      font-weight: 400;
      max-width: 457px;
   }

   &__subtitle {
      font-family: $roboto;
      font-size: $fontsize18;
      font-weight: 400;
      line-height: 32px;
   }

   &__btn {
      border: 1px solid #fff;
      color: #000;
      &:hover{
         background-color: rgba(0, 0, 0, 0.1);
         border: 1px solid #000;
         color: #fff;
      }
   }
}
.btn__main {
   font-size: $fontsize12;
   font-family: $roboto;
   font-weight: 400;
   line-height: 14px;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 180px;
   height: 52px;
   text-transform: uppercase;
   transition: .4s;
}
.brends {
   background-color: #fff;
   &--container {
      max-width: 1298px;
   }
   &__inner {
      display: flex;
      justify-content: space-between;
      padding: 60px 0px 40px 0px;
      gap: 10px;

   }

   &__block {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   &__title {
      text-align: center;
      font-family: $roboto;
      font-weight: 400;
      font-size: $fontsize18;
      max-width: 300px;
      line-height: 32px;
   }

   &__logo {
      margin: 36px 0px 0px 0px;
      max-width: 300px;
      height: 50px;
      img{
         width: 100%;
      }
   }
}
.line {
   background-color: #fff;
   width: 100%;
   &__inner {
      width: 100%;
      height: 1px;
      background-color:#BDBDBD ;
   }
}
.shop {
   background-color: #fff;
   &--container {
      max-width: 1276px;
   }
   &__inner{
      @include adaptiv-value('padding-top',105 ,50 ,1 );
      @include adaptiv-value('padding-bottom',140 ,50 ,1 );

   }
   &__top {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   &__title {
      font-family: $libration;
      font-weight: 400;
      line-height: 80px;
      text-align: center;
      margin: 0px 0px 24px 0px;
      max-width: 673px;
      @include adaptiv-value("font-size",64 ,37 ,1 );
      @include adaptiv-value("line-height",80 ,32 ,1 );

   }

   &__subtitle {
      text-align: center;
      font-family: $roboto;
      font-size: 12px;
      text-transform: uppercase;
      line-height: 18px;
      margin: 0px 0px 82px 0px;
      @include adaptiv-value('margin-bottom',82 ,20 ,1 );
   }

   &__main {
      display: flex;
      justify-content: space-between;
      gap: 10px;
      flex-wrap: wrap;
      @media(max-width:1190px){
         flex-direction: column;
         align-items: center;
         gap: 90px;
      }
   }

   &__block {
      max-width: 382px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   &__img {
      max-height: 451px;
      @include adaptiv-value('margin-bottom',19 ,10 ,1 );
      img{
         object-position: center;
         width: 100%;
         height: 100%;
      }
   }

   &__name {
      margin: 0px 0px 16px 0px;
      font-family: $libration;
      font-size: 30px;
      line-height: 44px;
   }

   &__description {
      margin: 0px 0px 27px 0px;
      font-family:$roboto;
      font-size: 16px;
      line-height: 28px;
   }

   &__btn {
      background-color: #000;
      color: #fff;
      border: none;
   }
}







@media(max-width:990px){

   .intro{
      &__inner{
      }
      &__main{
         flex-direction: column;
      }
      &__photo,&__right{
         width: 100%;
      }
      &__photo{
         height: 400px;
      }
      &__right{
         justify-content: center;
         align-items: center;
      }
      &__body{
         justify-content: center;
         align-items: center;
         margin: 0px 0px;
         padding: 40px 10px;
      }
      &__title,&__subtitle{
         text-align: center;
      }
   }
.brends{
   &__inner{
      flex-direction: column;
      gap: 50px;
   }
   &__logo{
      margin: 10px 0px 0px 0px;
   }
}
}
@media(max-width:768px){
   .header{

      .container{
         padding: 0px 0px;
      }
      &__inner{
         height: 55px;
         padding: 5px 0px;
         background-color: rgba(44, 73, 80, 0.338);
         transition: .3s;
         &:after{
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            background-color: rgb(0, 0, 0);
            width: 0;
            height: 55px;
            transition: .4s;
            z-index: -1;
         }
      }
      &__navigation{
         display: flex;
         flex-direction: column;
         position: absolute;
         top: 100%;
         width: 50%;
         height: calc(100vh - 105px);
         background-color: #050313e6;
         align-items: center;
         padding: 50px 20px;
         z-index: 1;
         transition: .4s;
         opacity: 0;
         &:nth-child(1){
            left: 0px;
            text-align: end;
            transform-origin: left;
            transform:perspective(400px) rotatey(-90deg) ;

         }
         &:nth-child(3){
            right: 0px;
            transform-origin: right;
            transform:perspective(400px) rotatey(90deg) ;

         }
      }
      ._active &__navigation{
         transform: rotate(0);
         opacity: 1;

      }
      ._fixed &__navigation{
         display: flex;
         flex-direction: column;
         position: absolute;
         top: 100%;
         width: 50%;
         height: calc(100vh - 55px);
         background-color: #050313e6;
         align-items: center;
         padding: 50px 20px;
         z-index: 1;
         transition: .4s;
         opacity: 0;

         &:nth-child(1){
            left: 0px;
            text-align: end;
            transform: translatex(-100%);

         }
         &:nth-child(3){
            right: 0px;
            transform: translatex(100%);

         }
      }

      ._fixed ._active &__navigation{
         transform: translateX(0);
         opacity: 1;

      }
      ._active{
         &::after{
            width: 100%;
            pointer-events: none;
         }
      }

      &__link{
         font-size: 20px;
      }
      &__burger{
         display: flex;
         margin: 0px 15px;
      }
      ._active &__burger {
         &::before{
            transform:translateY(-50%) rotate(225deg);

            top: 50%;
         }
         &::after{
            top: 50%;
            transform:translateY(-50%) rotate(-225deg);

         }
         span{
            transform: scale(0);
         }
      }
   }
   ._fixed .header__inner{
      background-color: #050313da;
   }

}
